body{
    background: radial-gradient(blue, light blue, #e5e5e5);
    margin: 0;
    padding: 0;
    display: flex;
    
}

.row {
    padding-top:50px;
    padding-bottom: 50px;
    width: 100%;
}

.img-fluid {
    object-fit: none;
}
.projDescription {
    width: 500px;
}